<div class="flex justify-center items-center lg:h-[40rem] text-gray-800">
  <div class="mx-auto flex flex-col gap-6 mx-4 my-6">
    <div class="flex flex-col gap-3 p-2 rounded-lg bg-gray-800 text-neutral-50">
      <div class="text-2xl md:text-6xl font-extrabold text-center">Where is this thing happening?</div>
      <div class="text-xl md:text-3xl font-medium text-center">Black Forest by Wedgewood Weddings</div>
      <div class="text-xl md:text-3xl font-medium text-center">12375 Black Forest Rd, Colorado Springs, CO 80908</div>
    </div>
  </div>
</div>