<div class="text-gray-800 text-lg font-semibold overflow-x-hidden md:overflow-x-auto py-16">
  <h2 class="text-4xl font-extrabold text-center pb-10">Wedding Party</h2>
  <div class="flex flex-col gap-8 items-center justify-center md:items-baseline md:flex-row">
    <div class="flex flex-col items-center text-center">
      <h2 class="text-2xl font-extrabold">Bridesmaids</h2>
      <ul>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">Emma Martinez (Maid of Honor)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Sister of the bride</span></li>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">Gracie Martinez (Bridesmaid)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Sister of the bride</span></li>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">Rachel Woods (Bridesmaid)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Best friend of the bride since college</span></li>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">Kayleigh Dewar (Bridesmaid)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Best friend of the bride since 4th grade</span></li>
      </ul>
    </div>
    <div class="flex flex-col items-center text-center">
      <h2 class="text-2xl font-extrabold">Groomsmen</h2>
      <ul>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">David Dimas (Best Man)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Best friend of the groom since kindergarten</span></li>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">Gregory Mitchell (Groomsman)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Best friend of the groom since high school</span></li>
        <li class="underline decoration-sky-500/50 hover:decoration-pink-500/50 group/item relative">Camden McPhee (Groomsman)
          <span class="invisible rounded-lg group-hover/item:-translate-x-full group-hover/item:visible absolute bg-white w-48 z-20">Best friend of the groom since high school</span></li>
      </ul>
    </div>
  </div>
</div>