<div class="text-gray-800 text-lg font-semibold">
  <h2 class="text-4xl font-extrabold text-center pb-10">Wedding Party</h2>
  <div class="flex flex-col gap-8 items-center justify-center md:items-baseline md:flex-row">
    <div class="flex flex-col items-center text-center">
      <h2 class="text-2xl font-extrabold">Bridesmaids</h2>
      <ul>
        <li>Emma Martinez (Maid Of Honor)</li>
        <li>Gracie Martinez (Bridesmaid)</li>
        <li>Rachel Woods (Bridesmaid)</li>
        <li>Kayleigh Dewar (Bridesmaid)</li>
      </ul>
    </div>
    <div class="flex flex-col items-center text-center">
      <h2 class="text-2xl font-extrabold">Groomsmen</h2>
      <ul>
        <li>David Dimas (Best Man)</li>
        <li>Gregory Mitchell (Groomsman)</li>
        <li>Camden McPhee (Groomsman)</li>
      </ul>
    </div>
  </div>
</div>