<div id="travel" class="md:aspect-[16/8.86] lg:aspect-[16/8.86] bg-amber-500 flex items-center">
  <div class="content mx-auto flex flex-col gap-20">
    <div class="flex flex-col gap-3">
      <div class="text-6xl font-extrabold text-center">Where is this thing happening?</div>
      <div class="text-3xl font-medium text-center">Black Forest by Wedgewood Weddings</div>
      <div class="text-3xl font-medium text-center">12375 Black Forest Rd, Colorado Springs, CO 80908</div>
    </div>

    <div class="container mx-auto flex flex-col md:flex-row lg:flex-row gap-20 justify-center">
      <div class="bg-amber-50 text-center rounded-lg p-10">
        <h3>Hotel 1</h3>
        <h4>1234 waverly mtn, Colorado Springs, 80000</h4>
        <h4>~10 mins away from venue</h4>
      </div>
      <div class="bg-amber-50 text-center rounded-lg p-10">
        <h3>Hotel 2</h3>
        <h4>1234 waverly mtn, Colorado Springs, 80000</h4>
        <h4>~10 mins away from venue</h4>
      </div>
      <div class="bg-amber-50 text-center rounded-lg p-10">
        <h3>Hotel 3</h3>
        <h4>1234 waverly mtn, Colorado Springs, 80000</h4>
        <h4>~10 mins away from venue</h4>
      </div>
    </div>
  </div>
</div>