<%= stylesheet_link_tag "checkbox", media: "all" %>

<div id="<%= dom_id rsvp %>">
  <label class="checkbox-wrapper">
    <%= check_box_tag "rsvp_ids[]",
                      rsvp.id,
                      nil,
                      {
                        class: 'checkbox-input',
                        multiple: true,
                        form: :bulk_actions_form,
                        checked: rsvp.attending
                      }
    %>
    <span class="checkbox-tile">
				<span class="checkbox-icon">
						<rect width="256" height="256" fill="none"></rect>
						<circle cx="96" cy="144.00002" r="10"></circle>
						<circle cx="160" cy="144.00002" r="10"></circle>
				</span>
				<span class="checkbox-label"><%= rsvp.name %></span>
			</span>
  </label>
</div>