<div id="<%= dom_id rsvp %>">
  <p>
    <strong>Invite:</strong>
    <%= rsvp.invite_id %>
  </p>

  <p>
    <strong>Attending:</strong>
    <%= rsvp.attending %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= rsvp.name %>
  </p>

</div>
