@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

.diagonal {
    position: relative;
    isolation: isolate;
}

.diagonal::after {
    background-image: linear-gradient(45deg, #58936a, #d0cece, #ffce9f);
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-5deg);
}

.img-desk {
    background-image: url("m-leg.jpg");
}

.img-mobile {
    background-image: url("m-leg-mobile.png");
}

.nav-menu {
    display: none;
}

.nav-menu-show {
    display: block;
}

.nav-menu-fill {
    display: none;
}
